<div class="hero" data-section="home">
  <div class="hero-content">
    <h1><span itemscope itemtype="http://schema.org/LegalService">Case Law, PLLC</span></h1>
    <h2>Supporting our community through</h2>
      <ul>
        <li>free resources</li>
        <li>superb legal counsel</li>
        <li>excellent client experience</li>
      </ul>
    <br>
    <button id="header-action"><a href="tel:+18668227352">Need to call us?</a></button>
  </div>
</div>
<div class="mission">
  <div class="mission-content">
    <h2>Our Mission</h2>
    <hr />
    <p>Case Law strives to be <span>your guide</span> throughout your legal matters. Most people are thrust involuntarily into a legal issue, but not everyone needs a lawyer. We provide <span>free resources</span> to help you understand your situation and make informed decisions (with no obligation to work with us!). If you decide you need a lawyer, we agree with you that it is a personal decision not to be taken lightly. We aren't the best fit for everyone, but we are happy to help connect you with the best lawyers we know. If we end up working together, we will provide an <span>excellent and transparent experience</span> for you. We value your trust and regard for us, and we will always do our best to help. Thank you for the opportunity to serve you, and we wish the very best for you and your loved ones!</p>
  </div>
</div>
<div class="cases" data-section="cases">
  <div class="cases-content">
    <h2>Cases We Handle</h2>
    <hr />
    <div id="cases-pi">
      <div class="side-image">
        <div class="images-wrapper"></div>
        <div class="side-image-content">
          <!-- <h4>Cases We Handle</h4> -->
          <h1>Personal Injury</h1>
          <p>Recovering from an injury is hard. It's even harder to seek recompense. Whether you were in a car or truck accident, injured at work, or some other event has left you physically injured, we may be able to help.</p>
          <ul>
            <li><i class="fa fa-check-circle-o"></i> Car or truck accident</li>
            <li><i class="fa fa-check-circle-o"></i> Airport injury</li>
            <li><i class="fa fa-check-circle-o"></i> Workplace injury</li>
            <li><i class="fa fa-check-circle-o"></i> Head and brain injury</li>
            <li><i class="fa fa-check-circle-o"></i> Other serious physical injury</li>
          </ul>
        </div>
      </div>
    </div>
    <br />
    <div class="cards">
      <div class="card">
        <div class="card-image">
          <%= image_tag "divorce.jpg", alt: "Family / divorce law image", class: "img-cover" %>
        </div>
        <div class="card-header">
          Family / Divorce Law
        </div>
        <div class="card-copy">
          <p>Even when you think you have everything figured out, life can throw you a curveball. It's important to think about your future and that of your family, no matter what the eventual outcome of your case may be.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "dui.jpg", alt: "DUI law image", class: "img-cover" %>
        </div>
        <div class="card-header">
          DUI Law
        </div>
        <div class="card-copy">
          <p>In Georgia, you can lose your license within 10 days of your arrest if you don't take the proper actions. Unfortunately, time is not on your side if you have been arrested for DUI. Getting ahead of your case can make all the difference.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "paperwork.jpg", alt: "Other areas of law image", class: "img-cover" %>
        </div>
        <div class="card-header">
          Other areas
        </div>
        <div class="card-copy">
          <p>Do you need a will? Are you fighting a traffic ticket? Have you been charged with a felony/misdemeanor? Even if we aren't the best fit for you and your case, we will do our best to help you find the lawyer who is.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="action-section">
  <div class="action-section-content">
    <div>
      <h3>Need help now?</h3>
      <p>You may not always have the luxury of extra time to research and understand your legal matter. If you need help now, get in touch with us. Otherwise, explore our free resources below. </p>
    </div>
    <br />
    <button><a href="tel:+18668227352">Give us a call</a></button>
  </div>
</div>
<div class="resources" data-section="resources">
  <div class="resources-content">
    <div class="resources-text">
      <h2>Free Resources</h2>
      <hr />
      <p>You are making a great decision to learn more about your legal issue. Before you make your next decision, download some of our free resources to help prepare yourself for your case.</p>
    </div>
    <div class="downloads">
      <div class="cards">
        <div class="card">
          <a href="http://georgiapersonalinjuryguidebook.net" target="_blank">
            <div class="card-image">
              <%= image_tag "pi-book-mockup.png", alt: "Georgia Personal Injury Guidebook image", class: "img-cover" %>
            </div>
            <div class="card-header">
              Georiga Personal Injury Guidebook
            </div>
            <div class="card-copy">
              <p>eBook</p>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="http://beatmyatlantadui.com" target="_blank">
            <div class="card-image">
              <%= image_tag "dui-book-mockup.png", alt: "Georgia DUI Guidebook image", class: "img-cover" %>
            </div>
            <div class="card-header">
              Georgia DUI Guidebook
            </div>
            <div class="card-copy">
              <p>eBook</p>
            </div>
          </a>
        </div>

        <div class="card">
          <div class="card-image">
            <%= image_tag "divorce-book-mockup.png", alt: "Georgia Divorce Guidebook image", class: "img-cover" %>
          </div>
          <div class="card-header">
            Georgia Divorce Guidebook
          </div>
          <div class="card-copy">
            <p>eBook - <em>Coming soon!</em></p>
          </div>
        </div>

        <div class="card">
          <a href="https://s3.amazonaws.com/judgecase/Hiring-a-DUI-lawyer.pdf" target="_blank">
            <div class="card-image">
              <%= image_tag "hiring-a-dui-lawyer.png", alt: "Hiring a DUI lawyer informational image", class: "img-cover" %>
            </div>
            <div class="card-header">
              Hiring a DUI lawyer
            </div>
            <div class="card-copy">
              <p>PDF</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about" data-section="about">
  <div class="about-content">
    <h2>About Kelly Case</h2>
    <hr />
    <div class="side-image">
      <div class="images-wrapper"></div>
      <div class="side-image-content">
        <!-- <h4>His Purpose</h4> -->
        <p>After suffering a loss at the age of 13 when an insurance company took advantage of his poor, uneducated father, Kelly made it his life's mission to help anyone having difficulty with a greedy insurance company. That's why he became a lawyer.</p>
        <!-- <h4>Early Practice</h4> -->
        <p>After graduating from Tulane University School of Law, Kelly practiced for many years as a trial attorney, prosecutor, and then DUI attorney in Houston, TX. DUI cases are often considered one of the most technically difficult cases to handle, due to the depth and breadth of knowledge required to win. However, Kelly is a recognized blood expert with a deep understanding of the science behind blood testing, which gave him a leg up in DUI cases and an excellent success rate.</p>
        <!-- <h4>Current Focus</h4> -->
        <p>When Kelly returned to private practice after four years on the bench as a judge, he redirected his practice toward educating his local community and expanded the types of cases he handled. With a dedicated team and extensive network of fellow lawyers across the country, Kelly is able to focus on the clients that he is best able to serve.</p>
        <!-- <h4>Outside of the law</h4> -->
        <p>Outside of practicing law, Kelly spends his time with his family and enjoys fly fishing, carpentry, and cooking. He builds custom bamboo fly fishing rods by hand.</p>
        <!-- <h4>Brief Summary</h4> -->
        <br />
        <ul>
          <li><i class="fa fa-gavel fa-fw"></i>&#09;Former Judge of 9th Judicial District Court in Montgomery Country, TX</li>
          <li><i class="fa fa-black-tie fa-fw"></i>&#09;Over 1,000 jury trials in the last two decades</li>
          <li><i class="fa fa-institution fa-fw"></i>&#09;Governor-appointed to train other judges</li>
          <li><i class="fa fa-users fa-fw"></i>&#09;Father of four children</li>
          <li><i class="fa fa-hand-rock-o fa-fw"></i>&#09;Aikido Black Belt</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="contact" data-section="contact">
  <div class="contact-content">
    <h2>Contact Us</h2>
    <hr />
    <div class="side-image">
      <div class="images-wrapper"></div>
      <div class="side-image-content">
        <!-- <h4>His Purpose</h4> -->
        <p>After suffering a loss at the age of 13 when an insurance company took advantage of his poor, uneducated father, Kelly made it his life's mission to help anyone having difficulty with a greedy insurance company. That's why he became a lawyer.</p>
        <!-- <h4>Early Practice</h4> -->
        <p>After graduating from Tulane University School of Law, Kelly practiced for many years as a trial attorney, prosecutor, and then DUI attorney in Houston, TX. DUI cases are often considered one of the most technically difficult cases to handle, due to the depth and breadth of knowledge required to win. However, Kelly is a recognized blood expert with a deep understanding of the science behind blood testing, which gave him a leg up in DUI cases and an excellent success rate.</p>
        <!-- <h4>Current Focus</h4> -->
        <p>When Kelly returned to private practice after four years on the bench as a judge, he redirected his practice toward educating his local community and expanded the types of cases he handled. With a dedicated team and extensive network of fellow lawyers across the country, Kelly is able to focus on the clients that he is best able to serve.</p>
        <!-- <h4>Outside of the law</h4> -->
        <p>Outside of practicing law, Kelly spends his time with his family and enjoys fly fishing, carpentry, and cooking. He builds custom bamboo fly fishing rods by hand.</p>
        <!-- <h4>Brief Summary</h4> -->
        <br />
        <ul>
          <li><i class="fa fa-gavel fa-fw"></i>&#09;Former Judge of 9th Judicial District Court in Montgomery Country, TX</li>
          <li><i class="fa fa-black-tie fa-fw"></i>&#09;Over 1,000 jury trials in the last two decades</li>
          <li><i class="fa fa-institution fa-fw"></i>&#09;Governor-appointed to train other judges</li>
          <li><i class="fa fa-users fa-fw"></i>&#09;Father of four children</li>
          <li><i class="fa fa-hand-rock-o fa-fw"></i>&#09;Aikido Black Belt</li>
        </ul>
      </div>
    </div>
  </div>
</div>
