<div class="blog-header">
  <div class="blog-title">
    <h1><%= @post.title %></h1>
  </div>
  <div class="blog-banner" style="background: url('<%= @post.image.url %>') repeat;"></div>
</div>
<div class="blog-opener">
  <p>
    Written by: <%= @post.author_name %><br>
    <%= @post.created_at.strftime("Published on %b %-d, %Y") %>
  </p>
</div>
<div class="blog-content">
  <%= @post.body %>
</div>
<div class="blog-closer">
  <% @posts.each do |post| %>
    <%= link_to post.title, post_path(post) %>
  <% end %>
</div>